/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);*/
body{
	padding: 0px;
	background-color: #ccccbb !important;
    font-family: 'Source Sans Pro', sans-serif;
    /*font-weight:300;*/
    /*color:#FFF;*/
}

.ng-cloak {
    display: none;
}

.navbar{
    width: 100%;
    margin-bottom: 0 !important;

}

#container{
    width: 1024px;
    margin: 0 auto 0 auto;
}

.table{
    width: 100%;
    margin: 0 auto 0 auto;
}

.table>tbody>tr>td{
    font-weight: normal;
}

.panel{
    position: relative;
    width: 90%;
    margin: 5px auto 0 auto;
}

.title h3{
    position: relative;
    left: 48px;
    margin: 0 auto 20px auto;
}

.btn-category{
    position: relative;
    left: 48px;
    margin: 0 auto 20px auto;
}

.add-cat, .edit-cat, .detail-cat{
    position: relative;
    margin: 10px auto 10px auto;
    left: 48px;
    display: inline-block;
    width: 140px;
}

.add-cat input, .edit-cat input, .detail-cat input{
    width: 40%;
    display: inline-block;
    margin: 10px;
}

/*.btn-add-cat button{
    margin-left: 47px !important;
    margin-bottom: 5px;
    width: 140px;
}*/

.add-task{
    position: relative;
    width: 90%;
    margin: 5px auto 0 auto;
}

.add-task form button{
    margin-top: 5px;
}

/*Inicio do rodapé*/
section{
    text-align:center;
    background-color:lightblue;
}

section h1{
    margin: 0;
}
.footer #button{
    width:35px;
    height:35px;
    border: #727172 12px solid;
    border-radius:35px;
    margin:0 auto;
    position:relative;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
    width:35px;
    height:35px;
    border: #3A3A3A 12px solid;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    position:relative;
}
.footer {
    bottom:0;
    left:0;
    position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index:999;
}
.footer:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    height: 10em;
}
.footer #container{
    margin-top:5px;
    width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
    background: #3A3A3A;
}
.footer #cont{
    position:relative;
    top:-45px;
    right:190px;
    width:150px;
    height:auto;
    margin:0 auto;
}
.footer_center{
    width:600px;
    float:left;
    text-align:center;
}
.footer h3{
    font-family: 'Helvetica';
    font-size: 30px;
    font-weight: 100;
    margin-top:70px;
    /*margin-left:40px;*/
    color: #FFFFFF;
    width: 100%;
}

b, strong{
    color: #FFFFFF;
}

/*.copyright h4{
    color: #FFFFFF;
    width: 100%;
    !*margin-left:40px;*!
}*/

/*fim do rodape*/

.login-page, .register-page{
    padding-bottom: 1px;
}

.row {
    margin-right: -15px;
    margin-left: 7px;
}