<div class="title">
    <h3>Home</h3>
</div>
<div>
    <button type="button" class="btn btn-warning btn-task" ng-click="vm.redirectTasks()">Tarefas</button>
    <button type="button" class="btn btn-warning btn-category" ng-click="vm.redirectCategories()">Categorias</button>
</div>

<section>
    <div class="panel panel-primary">
        <div class="panel-heading">Tarefas Pendentes</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Tarefa Realizada</th>
                    <th>Tarefa</th>
                    <th>Categoria</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in vm.tasks | filter: {done: true}">
                    <td><input type="checkbox" ng-model="task.done"></td>
                    <td>{{task.name}}</td>
                    <td>{{task.category}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Tarefas Concluidas</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Tarefa Realizada</th>
                    <th>Tarefa</th>
                    <th>Categoria</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="task in vm.tasks | filter: {done: false}">
                    <td><input type="checkbox" ng-model="task.done"></td>
                    <td>{{task.name}}</td>
                    <td>{{task.category}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>