<section>
    <div class="title">
        <h3>Home</h3>
    </div>

    <div class="add-cat">
        <button type="button" class="btn btn btn-success" data-toggle="modal" data-target="#myModal">Adicionar</button>
        <button type="button" class="btn btn btn-success" data-toggle="modal" data-target="#delModal">Remover</button>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Mensagens</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Mensagem</th>
                    <th>Autor</th>
                    <th>Data</th>
                    <th>Imagem</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="noticia in vm.noticias.noticias">
                    <td>{{noticia.id}}</td>
                    <td>{{noticia.titulo}}</td>
                    <td>{{noticia.mensagem}}</td>
                    <td>{{noticia.autor}}</td>
                    <td>{{noticia.data}}</td>
                    <td>{{noticia.imagem}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar Mensagens</h4>
            </div>
            <div class="modal-body">
                <section>
                    <div class="add-task">
                        <form name="taskForm">
                            <label>Id:</label>
                            <input class="form-control" type="text" ng-model="vm.noticia.id" name="id" placeholder="identificador" ng-required="true"/>
                            <label>Título:</label>
                            <input class="form-control" type="text" ng-model="vm.noticia.titulo" name="titulo" placeholder="titulo" ng-required="true" ng-minlength="4"/>
                            <label>Mensagem:</label>
                            <input class="form-control" type="text" ng-model="vm.noticia.mensagem" name="mensagem" placeholder="mensagem" ng-required="true" ng-minlength="4"/>
                            <label>Autor:</label>
                            <input class="form-control" type="text" ng-model="vm.noticia.autor" name="autor" placeholder="autor" ng-required="true" ng-minlength="4"/>
                            <button type="button" class="btn btn-primary" ng-click="vm.add(vm.noticia)">Adicionar</button>
                        </form>
                        <!-- <div ng-messages="taskForm.name.$error" class="alert alert-danger">
                         <div ng-message="riquired">
                                O campo tarefa é obrigatório!
                            </div>
                            <div ng-message="minlength">
                                O campo nome deve ter no mínimo 4 caracteres.
                            </div>
                        </div>
                        <div ng-messages="taskForm.category.$error" class="alert alert-danger">
                            <div ng-message="riquired">
                                O campo categoria é obrigatório!
                            </div>
                            <div ng-message="minlength">
                                O campo categoria deve ter no mínimo 4 caracteres.
                            </div>
                        </div>      -->

                        <div ng-show = "taskForm.name.$error.required && taskForm.name.$dirty" class="alert alert-danger">
                            O campo tarefa é obrigatório!
                        </div>
                        <div ng-show = "taskForm.name.$error.minlength" class="alert alert-danger" class="alert alert-danger">
                            O campo tarefa deve ter no mínimo 4 caracteres.
                        </div>
                        <div ng-show = "taskForm.category.$error.required && taskForm.name.$dirty" class="alert alert-danger">
                            O campo categoria é obrigatório!
                        </div>
                        <div ng-show = "taskForm.category.$error.minlength" class="alert alert-danger">
                            O campo categoria deve ter no mínimo 4 caracteres.
                        </div>
                        <div ng-show = "taskForm.done.$error.required && taskForm.name.$dirty" class="alert alert-danger">
                            O campo status: true ou false é obrigatório!
                        </div>
                    </div>
                </section>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remover Mensagem</h4>
            </div>
            <div class="modal-body">
                <section>
                    <div class="add-task">
                        <form name="taskForm">
                            <label>Id:</label>
                            <input class="form-control" type="text" ng-model="vm.noticia.id" name="id" placeholder="identificador" ng-required="true"/>
                            <label>Ttulo:</label>
                            <input class="form-control" type="text" ng-model="vm.noticia.titulo" name="titulo" placeholder="titulo" ng-required="true" ng-minlength="4"/>
                            <label>Mensagem:</label>
                            <input class="form-control" type="text" ng-model="vm.noticia.mensagem" name="mensagem" placeholder="mensagem" ng-required="true" ng-minlength="4"/>
                            <label>Autor:</label>
                            <input class="form-control" type="text" ng-model="vm.noticia.autor" name="autor" placeholder="autor" ng-required="true" ng-minlength="4"/>
                            <button type="button" class="btn btn-primary" ng-click="vm.remove(vm.noticia)">Remover</button>
                        </form>
                        <div ng-show = "taskForm.name.$error.required && taskForm.name.$dirty" class="alert alert-danger">
                            O campo tarefa é obrigatório!
                        </div>
                        <div ng-show = "taskForm.name.$error.minlength" class="alert alert-danger" class="alert alert-danger">
                            O campo tarefa deve ter no mínimo 4 caracteres.
                        </div>
                        <div ng-show = "taskForm.category.$error.required && taskForm.name.$dirty" class="alert alert-danger">
                            O campo categoria é obrigatório!
                        </div>
                        <div ng-show = "taskForm.category.$error.minlength" class="alert alert-danger">
                            O campo categoria deve ter no mínimo 4 caracteres.
                        </div>
                        <div ng-show = "taskForm.done.$error.required && taskForm.name.$dirty" class="alert alert-danger">
                            O campo status: true ou false é obrigatório!
                        </div>
                    </div>
                </section>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>