<div class="jumbotron">

    <div class="title">
        <h3>Categorias</h3>
    </div>

    <div class="add-cat">
        <button type="button" class="btn btn btn-success" data-toggle="modal" data-target="#add-modal" ng-if="vm.isLogged">Adicionar</button>
        <!--<button type="button" class="btn btn btn-success" data-toggle="modal" data-target="#del-modal">Remover</button>-->
    </div>
<div class="mypainel">
    <div class="panel panel-primary">
        <div class="panel-heading">Categorias Disponíveis</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th ng-hide="vm.ocultar">Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
                <tbody>
                <tr ng-repeat="categoria in vm.categorias">
                    <td ng-hide="vm.ocultar">{{categoria.id}}</td>
                    <td>{{categoria.nome}}</td>
                    <td>{{categoria.descricao}}</td>
                    <td ng-if="vm.isLogged"><a ui-sref='categoria({Id: detailCategoria.id})' ng-click="vm.detailCategoria = categoria" class="btn btn-default" data-toggle="modal" data-target="#detail-modal"><span class="glyphicon glyphicon-zoom-in"></span>
                    <td ng-if="vm.isLogged"><a ui-sref='categoria({Id: editCategoria.id})' ng-click="vm.editCategoria = categoria" class="btn btn-default" data-toggle="modal" data-target="#edit-modal"><span class="glyphicon glyphicon-edit"></span>
                    <td ng-if="vm.isLogged"><a ui-sref='categoria({Id: delcategoria.id})' ng-click="vm.delCategoria = categoria" class="btn btn-default" data-toggle="modal" data-target="#del-modal"><span class="glyphicon glyphicon-erase"></span>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="add-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar Categoria</h4>

                <div class="alert alert-success alert-dismissible" role="alert" ng-show="vm.successMessagebool">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Congratulations!</strong> Now you're ready to do the <a href="#" class="alert-link">next shoelace</a>.
                </div>

            </div>
            <div class="modal-body">
                <section>
                    <div class="add-cat">
                        <form name="addCategoryForm">

                                <label ng-hide="vm.ocultar">Id:</label><input class="form-control" type="number" ng-hide="vm.ocultar" ng-model="vm.categoria.id" name="id" placeholder="Identificador" ng-required="false"/>

                            <div ng-class="{'has-error':addCategoryForm.nome.$invalid &&
                                    addCategoryForm.nome.$dirty}">

                                <span class="help-block has-error">
                                    <span ng-show="addCategoryForm.nome.$error.required" class="alert alert-danger">
                                        Category name is required.
                                    </span>
                                    <span ng-show="addCategoryForm.nome.$error.minlength" class="alert alert-danger">
                                        Category name must be at least 4 characters in length.
                                    </span>
                                    <span ng-show="addCategoryForm.nome.$error.maxlength" class="alert alert-danger">
                                        Category name cannot exceed 12 characters in length.
                                    </span>
                                </span>

                                <label>Nome:</label><input class="form-control" type="text" ng-model="vm.categoria.nome" name="nome" placeholder="Nome da Categoria" ng-minlength="4" ng-maxlength="12" nr-required="true"/>

                            </div>

                            <div ng-class="{'has-error':addCategoryForm.descricao.$invalid &&
                                    addCategoryForm.descricao.$dirty}">

                                <span class="help-block has-error">
                                    <span ng-show="addCategoryForm.descricao.$error.required" class="alert alert-danger">
                                        Category name is required.
                                    </span>
                                    <span ng-show="addCategoryForm.descricao.$error.minlength" class="alert alert-danger">
                                        Category name must be at least 4 characters in length.
                                    </span>
                                    <span ng-show="addCategoryForm.descricao.$error.maxlength" class="alert alert-danger">
                                        Category name cannot exceed 12 characters in length.
                                    </span>
                                </span>

                                <!--<label>Descrição:</label><input class="form-control" type="text" ng-model="vm.categoria.descricao" name="descricao" placeholder="Descrição" ng-minlength="4" ng-maxlength="50"/>-->
                                <textarea rows="10" cols="80" ng-model="vm.categoria.descricao" name="descricao" placeholder="Descrição" ng-minlength="4" ng-maxlength="50"></textarea>

                            </div>

                                <button type="button" class="btn btn-primary" ng-disabled="addCategoryForm.$invalid" ng-click="vm.add(vm.categoria)">Adicionar</button>

                        </form>
                    </div>
                </section>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detail-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalhamento da Categoria</h4>
            </div>
            <div class="modal-body">
                <section>
                    <div class="detail-cat">
                        <form name="detailCategoryForm">

                            <label ng-hide="vm.ocultar">Id:</label><input class="form-control" type="number" ng-hide="vm.ocultar" ng-model="vm.detailCategoria.id" name="id" placeholder="Identificador" ng-required="false"/>

                            <label>Nome:</label><input class="form-control" type="text" ng-readonly="true" ng-model="vm.detailCategoria.nome" name="nome" placeholder="Nome da Categoria" ng-required="false"/>

                            <textarea rows="10" cols="70" ng-readonly="true" ng-model="vm.detailCategoria.descricao" name="descricao" placeholder="Descrição"></textarea>

                        </form>
                    </div>
                </section>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="edit-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atualizar Categoria</h4>

                <div class="alert alert-success alert-dismissible" role="alert" ng-show="vm.successMessagebool">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Congratulations!</strong> Now you're ready to do the <a href="#" class="alert-link">next shoelace</a>.
                </div>

            </div>
            <div class="modal-body">
                <section>
                    <div class="edit-cat">
                        <form name="editCategoryForm">
                            <label ng-hide="vm.ocultar">Id:</label><input class="form-control" type="number" ng-hide="vm.ocultar" ng-model="vm.editCategoria.id" name="id" placeholder="Identificador" ng-required="false"/>

                            <div ng-class="{'has-error':editCategoryForm.nome.$invalid &&
                                    editCategoryForm.nome.$dirty}">

                            <div ng-messages="editCategoryForm.nome.$error" style="color:#9f191f" role="alert">
                                <div ng-message="required" class="alert alert-danger">You did not enter a field</div>
                                <div ng-message="minlength" class="alert alert-danger">Your field is too short</div>
                                <div ng-message="maxlength" class="alert alert-danger">Your field is too long</div>
                                <div ng-message-default class="alert alert-danger">This field has an input error</div>
                            </div>

                            <label>Nome:</label><input class="form-control" type="text" ng-model="vm.editCategoria.nome" name="nome" placeholder="Nome da Categoria" ng-minlength="4" ng-maxlength="12" nr-required="true"/>

                            </div>

                            <div ng-class="{'has-error':editCategoryForm.descricao.$invalid &&
                                    editCategoryForm.descricao.$dirty}">

                                <div ng-messages="editCategoryForm.descricao.$error" style="color:#9f191f" role="alert">
                                    <!--<div ng-message="required" class="alert alert-danger">You did not enter a field</div>-->
                                    <div ng-message="minlength" class="alert alert-danger">Your field is too short</div>
                                    <div ng-message="maxlength" class="alert alert-danger">Your field is too long</div>
                                    <div ng-message-default class="alert alert-danger">This field has an input error</div>
                                </div>

                            <textarea rows="10" cols="70" ng-model="vm.editCategoria.descricao" name="descricao" placeholder="Descrição" ng-minlength="4" ng-maxlength="100"></textarea>

                            </div>

                            <button type="button" class="btn btn-danger" ng-disabled="editCategoryForm.$invalid" ng-click="vm.update(vm.editCategoria)">Atualizar</button>
                        </form>

                    </div>
                </section>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="del-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remover da Categoria</h4>
            </div>
            <div class="modal-body">
                <section>
                    <div class="detail-cat">
                        <form name="delCategoryForm">

                            <label ng-hide="vm.ocultar">Id:</label><input class="form-control" type="number" ng-hide="vm.ocultar" ng-model="vm.delCategoria.id" name="id" placeholder="Identificador" ng-required="false"/>

                            <label>Nome:</label><input class="form-control" type="text" ng-readonly="true" ng-model="vm.delCategoria.nome" name="nome" placeholder="Nome da Categoria" ng-required="false"/>

                            <textarea rows="10" cols="70" ng-readonly="true" ng-model="vm.delCategoria.descricao" name="descricao" placeholder="Descrição"></textarea>

                            <button type="button" class="btn btn-danger" ng-click="vm.remove(vm.delCategoria)">Remover</button>
                        </form>
                    </div>
                </section>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>