<div class="jumbotron">
    <div class="title">
        <h3>Home</h3>
    </div>

    <div class="mypainel">
    <div class="panel panel-primary">
        <div class="panel-heading">Faturamento Estimado</div>
        <div class="panel-body">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <h5 class="description-header">{{vm.projecao | currency}}</h5>
                    <span class="description-text">PROJECÃO DE FATURAMENTO</span>
                </div>
            </div>

        </div>
    </div>

    <!--<div class="col-sm-3 col-xs-4">
        <div class="description-block">
            <span class="description-percentage text-light-blue"><i class="fa fa-caret-down"></i>jun/2017</span>
            <h5 class="description-header">{{vm.projecao | currency}}</h5>
            <span class="description-text">PROJECÃO DE FATURAMENTO</span>
        </div>
        &lt;!&ndash; /.description-block &ndash;&gt;
    </div>-->
    </div>

    <div class="mypainel">
    <div class="panel panel-primary">
        <div class="panel-heading">Mensagens</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th ng-hide="vm.ocultar">Id</th>
                    <th>Título</th>
                    <th>Mensagem</th>
                    <th>Autor</th>
                    <th>Data</th>
                    <th>Imagem</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="vm.isLogged" ng-repeat="noticia in vm.noticias">
                    <td ng-hide="vm.ocultar">{{noticia.id}}</td>
                    <td>{{noticia.titulo}}</td>
                    <td>{{noticia.mensagem}}</td>
                    <td>{{noticia.autor}}</td>
                    <td><span>{{noticia.data | date:'dd-MM-yyyy HH:mm:ss'}}</span></td>
                    <td><img ng-src="http://www.gravatar.com/avatar/{{noticia.imagem}}" alt="Description" /></td>
                </tr>
                <tr ng-if="!vm.isLogged" ng-repeat="noticia in vm.noticias | orderBy:'-data' | limitTo:5">
                    <td ng-hide="vm.ocultar">{{noticia.id}}</td>
                    <td>{{noticia.titulo}}</td>
                    <td>{{noticia.mensagem}}</td>
                    <td>{{noticia.autor}}</td>
                    <td><span>{{noticia.data | date:'dd-MM-yyyy HH:mm:ss'}}</span></td>
                    <td><img ng-src="http://www.gravatar.com/avatar/{{noticia.imagem}}" alt="Description" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>