<div class="jumbotron">
    <div class="title">
        <h3>Home</h3>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Mensagens</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th ng-hide="vm.ocultar">Id</th>
                    <th>Título</th>
                    <th>Mensagem</th>
                    <th>Autor</th>
                    <th>Data</th>
                    <th>Imagem</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="noticia in vm.noticias | orderBy:'-data' | limitTo:5">
                    <td ng-hide="vm.ocultar">{{noticia.id}}</td>
                    <td>{{noticia.titulo}}</td>
                    <td>{{noticia.mensagem}}</td>
                    <td>{{noticia.autor}}</td>
                    <td><span>{{noticia.data | date:'dd-MM-yyyy HH:mm:ss'}}</span></td>
                    <td><img ng-src="http://www.gravatar.com/avatar/{{noticia.imagem}}" alt="Description" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>