<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref='home' href>GFP Online</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a ui-sref='home' href>Home</a></li>
            <li><a ui-sref='noticia' ng-if="vm.isLogged">Notícias</a></li>
            <li><a ui-sref='categoria' ng-if="vm.isLogged">Categorias</a></li>
            <li><a ui-sref='lancamento' ng-if="vm.isLogged">Lançamentos</a></li>
            <li><a ui-sref='painel' ng-if="vm.isLogged">Painel de Controle</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref='registro' ng-if="!vm.isLogged"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a ui-sref='login' ng-if="!vm.isLogged"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a ui-sref='logout' ng-if="vm.isLogged"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>