<!--<section>
    &lt;!&ndash;<h1>Classy Footer</h1>&ndash;&gt;
    <h3>Passe o mouse sobre o círculo abaixo</h3>
</section>-->
<div class="footer">
    <div id="button"></div>
    <div id="container">
        <div id="cont">
            <div class="footer_center">
                <h3>Gerenciamento Financeiro Pessoal</h3>
                <!--<div class="copyright"><h4>Copyright 2019 Alexander Silva - Todos os direitos reservados.</h4></div>-->
                <strong>Copyright &copy; 2019 <a href="#">Alexander Silva</a>.</strong> All rights reserved.
            </div>
        </div>
    </div>
</div>